body{
    display: flex;
}
.main{
    margin-left: 16vw;
    padding: 2rem 5rem;
}
.content{
   
}
.section .section-title{
    font-size: 2.6rem;
}
#wrapper{
    width: auto;
}
.gridjs-wrapper{
    color: #AEB1B8;
}
