body{
    display: flex;
}
.main{
    margin-left: 16vw;
    padding: 2rem 5rem;
}
.content > h1{
    font-family: 'vistol sans',sans-serif;
    font-weight: 500;
}
.split{
    width: 100%;
    border: 1px solid blue;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    font-family: 'vistol sans',sans-serif;
}
.form .row-title{
    font-size: var(--font-h5);
    font-weight: normal;
}
.form .form-row{
    display: flex;
    column-gap: .9rem;
    flex-wrap: wrap;
    padding: .9rem 4rem;
    font-size: var(--font-h6);
}
.form .form-column{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    flex-wrap: wrap;
    padding: .9rem 4rem;
    font-size: var(--font-h6);
}
.form-row > .form-check{
    padding: .9rem 4rem;
}
.form .form-column > .input-group.mb-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    column-gap: 3rem;
    padding: .9rem 4rem;
    font-size: var(--font-h6);
}

.form-control{
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.form-control:focus{
    background-color: rgba(0, 0, 0, .6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px hsla(0, 75%, 66%, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px hsla(0, 75%, 66%, 0.6);
}

#addInputBtn.form-control{
    color: white;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: none;
    outline: none;
    border: none;
    width: 100%;
}
#addInputBtn.form-control:hover{
    background-color: hsl(240, 40%, 10%);
}
#addInputBtn.form-control:active{
    background-color: hsl(240, 60%, 10%);
}

.productCode, .productImage{
    padding: 0.9rem 4rem;
    width: 100%;
}
.form-check-label{
    cursor: pointer;
}

.submitBtn{
    color: black;
    padding: .9rem;
    margin: 0 8rem;
}
