div.contact-list {
  display: flex;
  flex-direction: column;
  margin: 4rem 3rem;
}
div.contact-list div.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 2rem 4rem;
}
div.contact-list div.contact div.avatar {
  height: 220px;
  width: 220px;
  overflow: hidden;
  border-radius: 50%;
}
div.contact-list div.contact div.avatar img.avatar-image {
  background: #3e3e3e;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.17s ease-in-out;
}
div.contact-list div.contact div.avatar img.avatar-image:hover {
  transform: scale(1.4);
  background: #4b4b4b;
  filter: brightness(0.5);
}
div.contact-list div.contact div.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
div.contact-list div.contact div.information p {
  margin-bottom: 0;
}
div.contact-list div.contact div.information p.name {
  font-size: var(--font-h4);
  font-weight: bold;
  color: #000;
}
div.contact-list div.contact div.information p.description {
  font-size: var(--font-h6);
  color: #222;
}
div.contact-list div.contact div.information p.phone-number {
  margin-top: 1.4rem;
  font-size: var(--font-small);
  color: #111;
}
div.contact-list div.contact div.information p.phone-number i {
  margin-right: 0.6rem;
}
