.main {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    width: 100vw;
    padding: 2rem 6rem;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    
    background-color: beige;
}
.sidebar .menu{
    width: 20vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    row-gap: 1.2rem;
    font-size: var(--font-h5);
    background-color: beige;
    font-weight: 600;
    font-family: 'Vistol Sans', sans-serif;
    letter-spacing: .1rem;
}
.sidebar .btn{
    display: none;
}
.model-link.active{
    color: blue;
}

.products-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2.6rem;
    row-gap: 2rem;
    width: 80vw;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: start;

    padding: .9rem 2rem;
}

.product-card {
    flex: 1;
    height: auto;
    object-fit: contain;
    transition: all .12s ease-in-out;
    border-radius: 10px;
    width: calc((100% - 60px) / 2);
    min-width: calc((100% - 60px) / 2);
    max-width: calc((100% - 60px) / 2);
    padding-bottom: auto;
    outline: 1px solid #8b8b8b;
    /* width: 200px; */
}
.product-card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.product-card-header{
    border-radius: 10px 10px 0 0;
}
.product-card-body{
    padding: .4rem .9rem;
    border-radius: 0 0 10px 10px;
}
.product-card-body > .product-name{
    margin-top: .3rem;
    font-size: var(--font-h1);
    font-weight: 400;   
}
.product-card-body > .product-code{
    margin-top: -.2rem;
    color: blue;
    font-size: var(--font-h3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.product-name{
    color: rgb(173, 0, 0);
}
.product-subname{
    
    font-size: 2.4rem;
}
@media only screen and (max-width: 972px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
    .sidebar .btn{
        width: 4rem;
        height: 4rem;
        display: block;
        transition: all .12s ease-in-out;
    }
    .menuBtn:checked + .btn{
        transform: rotateZ(135deg);
    }

    .products-table {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        width: 80vw;
        min-width: 80vw;
        height: auto;
    }

    .product-card {
        width: 100%;
    }
}