
@import url(app.css);

.search{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: start;
    align-items: center;
}
.products-table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2.6rem;
    row-gap: 2rem;
    width: 65vw;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: start;

    padding: .9rem 2rem;
}
.products-table> p{
    font-size: var(--font-h4);
}
.products-table > .section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: space-evenly;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
}
.product-card{
    width: calc((100% - 60px) / 2);
    min-width: calc((100% - 60px) / 2);
    max-width: calc((100% - 60px) / 2);
}
.menu{
    position: sticky;
    top: 5rem;
}
.alert{
    width: 90%;
    font-size: var(--font-h5);
}

@media only screen and (max-width: 972px) {
    .products-table > .section{
        flex-direction: column;
        row-gap: 2rem;
    }
}