body{
    overflow-y: none;
}

.main{
    display: flex;
    width: 100vw;
    height: 93vh;
    
}

/* CHILD OF .main */
.org{
    background-color: rgba(0, 0, 255, 0.1);
    width: 50%;
}
.china{
    background-color: rgba(255, 0, 0, 0.1);
    width: 50%;
}
.typeBtn{
    font-size: var(--font-h4);
    font-family: 'vistol-sans', sans-serif;
    padding: 2rem 4rem;
}