.navbar {
  display: none !important;
}

.detail .detail-header {
  background: linear-gradient(128deg, rgb(218, 100, 32), rgb(255, 94, 0));
  color: white;
  width: 100%;
  height: 8vh;
  padding: 0 4rem;
  font-size: var(--font-h6);
}
.detail .detail-header a {
  color: white;
  display: flex;
  align-items: center;
  height: inherit;
  width: -moz-min-content;
  width: min-content;
}
.detail .detail-header a:hover i {
  background-color: rgba(0, 0, 0, 0.3);
}
.detail .detail-header a:hover p.back {
  color: rgba(255, 255, 255, 0.8);
}
.detail .detail-header a p.back, .detail .detail-header a i {
  margin: 0;
  transition: background-color 0.12s ease-in-out;
}
.detail .detail-header a i {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-right: 1rem;
  width: 2vw;
  display: flex;
  height: 2vw;
  justify-content: center;
  align-items: center;
}
.detail .detail-header a p.back {
  font-weight: bold;
}
.detail .detail-body {
  display: flex;
  padding: 4rem 6rem;
  flex-direction: row;
}
.detail .detail-body .product-image-area {
  width: 30%;
}
.detail .detail-body .product-image-area .product-primary-image img, .detail .detail-body .product-image-area .product-another-image img {
  cursor: pointer;
}
.detail .detail-body .product-image-area .product-primary-image {
  margin-bottom: 2rem;
}
.detail .detail-body .product-image-area .product-primary-image img {
  width: 100%;
}
.detail .detail-body .product-image-area .product-another-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 1.2%;
       column-gap: 1.2%;
  row-gap: 0.5rem;
  justify-content: flex-start;
}
.detail .detail-body .product-image-area .product-another-image .product-image-hoverable {
  width: 19%;
  height: auto;
}
.detail .detail-body .product-image-area .product-another-image .product-image-hoverable.hover {
  border: 2px rgb(218, 100, 32) solid;
}
.detail .detail-body .product-information {
  width: 70%;
  padding: 0 4rem;
}
.detail .detail-body .product-information .product-name {
  font-size: var(--font-h1);
  border-bottom: 2px solid rgb(218, 100, 32);
}
.detail .detail-body .product-information .product-car-model-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  row-gap: 1.2rem;
}
.detail .detail-body .product-information .product-car-model-list .product-car-model-title {
  font-size: var(--font-h5);
}
.detail .detail-body .product-information .product-car-model-list label.product-car-model {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  width: 14vw;
  padding: 1rem;
  background-color: rgb(218, 100, 32);
  color: white;
  font-size: var(--font-small);
}
.detail .detail-body .product-information .product-car-model-list label.product-car-model.disable-order-function {
  cursor: inherit;
}
.detail .detail-body .product-information .product-car-model-list label.product-car-model input[type=radio] {
  display: none;
}
.detail .detail-body .product-information .product-car-model-list label.product-car-model input[type=radio]:checked + p.car-model {
  color: aquamarine;
}
.detail .detail-body .product-information .product-car-model-list label.product-car-model p.car-model {
  margin: 0;
}
@media only screen and (max-width: 720px) {
  .detail .detail-header a i {
    width: 6vw;
    height: 6vw;
  }
  .detail .detail-header a p.back {
    font-size: var(--font-h5);
  }
  .detail .detail-body {
    flex-direction: column;
    padding: 4rem;
  }
  .detail .detail-body .product-image-area {
    width: 100%;
  }
  .detail .detail-body .product-information {
    width: 100%;
    padding: 4rem 0 2rem;
  }
  .detail .detail-body .product-information .product-name {
    padding-bottom: 1.2rem;
    font-size: var(--font-h2);
    border-bottom-color: rgba(218, 100, 32, 0.6);
  }
  .detail .detail-body .product-information .product-car-model-list {
    row-gap: 2.6rem;
  }
  .detail .detail-body .product-information .product-car-model-list label.product-car-model {
    width: 100%;
    padding: 2rem;
    font-size: var(--font-h6);
  }
}
