@charset "UTF-8";
/* #region ========= 舊版樣式 */
/* #endregion */
.navbar {
  display: none !important;
}

.main {
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
}

.back-to-previous-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 115, 0);
  width: 100%;
  font-size: var(--font-h6);
  padding: 0 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
}
.back-to-previous-page a {
  display: flex;
  align-items: center;
  padding: 1.4rem 1rem;
  transition: background-color 0.09s ease-in-out;
}
.back-to-previous-page a:hover {
  color: rgb(0, 0, 0);
}

.detail {
  display: flex;
  flex-direction: column;
  padding: 1rem 6rem 4rem;
  width: 100%;
}
.detail .detail-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem 2rem 1rem 0;
}
.detail .detail-body .detail-product-image-area {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  width: 40%;
}
.detail .detail-body .detail-product-image-area .product-image-display {
  width: 87.5%;
  border: 1px solid rgba(0, 0, 0, 0.0196078431);
  min-width: 20vw;
  min-height: 327px;
  max-height: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .detail-body .detail-product-image-area .product-image-display .image-display-area {
  min-height: 327px;
}
.detail .detail-body .detail-product-image-area .product-image-display .image-display-area img {
  width: 100%;
  height: auto;
}
.detail .detail-body .detail-product-image-area .product-image-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87.5%;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image, .detail .detail-body .detail-product-image-area .product-image-selector .next-image {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 99;
  transition: background-color 0.12s ease-in-out;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image:hover, .detail .detail-body .detail-product-image-area .product-image-selector .next-image:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image:active, .detail .detail-body .detail-product-image-area .product-image-selector .next-image:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i {
  margin: 0;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i::before, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i::before {
  width: 1rem;
  height: 1rem;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i.fa-arrow-left, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i.fa-arrow-left {
  justify-self: flex-start;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i.fa-arrow-right, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i.fa-arrow-right {
  justify-self: flex-end;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image {
  margin-right: 1rem;
}
.detail .detail-body .detail-product-image-area .product-image-selector .image-selector-area {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.detail .detail-body .detail-product-image-area .product-image-selector .image-selector-area img {
  width: calc((100% + 36px) / 5);
  height: auto;
}
.detail .detail-body .detail-product-image-area .product-image-selector .image-selector-area img.hover {
  border: 2px solid rgb(255, 77, 0);
}
.detail .detail-body .detail-product-image-area .product-image-selector .next-image {
  margin-left: 1rem;
}
.detail .detail-body .detail-product-information-area {
  display: flex;
  flex-direction: column;
  width: 60%;
  row-gap: 1.2rem;
}
.detail .detail-body .detail-product-information-area .information-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.detail .detail-body .detail-product-information-area .information-section.brand-list-box {
  justify-content: space-between;
}
.detail .detail-body .detail-product-information-area .information-section .information-section-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 1.2rem;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.detail .detail-body .detail-product-information-area .information-section .information-section-content .brand-list {
  display: flex;
  row-gap: 1.4rem;
  flex-direction: column;
  padding: 0.1rem 0 2rem;
}
.detail .detail-body .detail-product-information-area .information-section .information-section-content .brand-list input[type=radio] {
  display: none;
}
.detail .detail-body .detail-product-information-area .information-section .information-section-content .brand-list input[type=radio]:checked + label {
  background: rgb(255, 115, 64);
  color: #fafafa;
}
.detail .detail-body .detail-product-information-area .information-section .information-section-content .brand-list label {
  transition: all 0.12s ease-in-out;
  cursor: pointer;
  border-radius: 2px;
  font-size: var(--font-h6);
  border: #ff6f00 2px solid;
  background-color: #fdfdfd;
  min-height: -moz-min-content;
  min-height: min-content;
  height: 5rem;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 0 0 0 2rem;
}
.detail .detail-body .detail-product-information-area .information-section .information-section-content .brand-list label img {
  padding: 1rem;
  height: 100%;
}
.detail .detail-body .detail-product-information-area .information-section .product-name {
  font-size: var(--font-h1);
  font-weight: bold;
  padding: 0 0 0.6rem;
  color: rgb(22, 22, 22);
}
.detail .detail-body .detail-product-information-area .information-section .section-title {
  width: -moz-max-content;
  width: max-content;
  font-size: var(--font-h6);
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
}
.detail .detail-body .detail-product-information-area .information-section .section-title ~ p {
  font-size: var(--font-h5);
}
.detail .detail-body .detail-product-information-area .detail-product-information-subarea {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.detail .detail-body .detail-product-information-area .detail-product-information-subarea .information-section.car-model {
  padding-right: 4rem;
  border-right: 1px solid rgba(0, 0, 0, 0.6666666667);
}
.detail .detail-body .detail-product-information-area .detail-product-information-subarea .brand-list-container {
  justify-content: flex-start;
  align-items: flex-start;
}
.detail .detail-body .detail-product-information-area .action-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1rem;
}
.detail .detail-body .detail-product-information-area .action-section .action-title {
  width: 21.8%;
  color: rgb(52, 52, 52);
  font-size: var(--font-small);
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area {
  border-radius: 2px;
  border: 1px solid #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area .quantityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(134, 134, 134);
  padding: 1.6rem;
  width: 3rem;
  height: 100%;
  border: none;
  outline: none;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area .quantityButton i {
  margin: 0;
  width: 0.6rem;
  height: 0.6rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area button.add-quantity {
  border-left: 1px solid #E2E2E2;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area .display-current-quantity-box {
  font-size: var(--font-small);
  padding: 0 2rem;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area .display-current-quantity-box p {
  margin: 0;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area .quantity-select-area button.remove-quantity {
  border-right: 1px solid #E2E2E2;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area button.add-to-cart {
  outline: 0;
  border: 1px solid #ee3211;
  color: #ee3211;
  background-color: #f4eeec;
  border-radius: 2px;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem;
  font-size: var(--font-h6);
  transition: background-color 0.1s ease-in-out;
}
.detail .detail-body .detail-product-information-area .action-section .add-to-cart-area button.add-to-cart:hover {
  background-color: #FEFEFE;
}
.user-action {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  position: fixed;
  bottom: 5rem;
  right: 0;
  padding: 1rem;
}
.user-action .user-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  transition: filter 0.12s ease-in-out;
  cursor: pointer;
}
.user-action .user-action-button:hover {
  filter: contrast(175%);
}
.user-action .user-action-button i {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-h6);
  color: white;
}
.user-action .notification {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  position: relative;
  left: 2.3rem;
  top: 1.2rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: var(--font-smaller);
}
.user-action .view-cart {
  background-color: #ee4d2d;
}
.user-action .whatapps {
  background-color: hsl(103, 78%, 21%);
}
.user-action .whatapps i {
  font-size: 2rem;
}

.disable-funciton {
  display: none;
}

.display-row {
  display: flex;
}

.display-column {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.background img {
  cursor: default;
  width: 40%;
  height: auto;
  background-color: white;
}

label.product-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}

.brand-image {
  width: 60px;
  height: auto;
  padding: 0.3rem;
  background-color: white;
  -o-object-fit: fill;
     object-fit: fill;
}

@media only screen and (max-width: 970px) {
  .detail {
    padding: 1rem 3rem 2rem;
  }
  .detail .detail-body {
    flex-direction: column;
  }
  .detail .detail-body .detail-product-image-area {
    width: 100%;
    height: auto;
    min-height: auto;
  }
  .detail .detail-body .detail-product-image-area .product-image-display {
    width: 100%;
    height: auto;
    min-height: auto;
  }
  .detail .detail-body .detail-product-image-area .product-image-selector {
    width: 100%;
  }
  .detail .detail-body .detail-product-information-area {
    margin-top: 3rem;
    width: 100%;
  }
  .detail .detail-body .detail-product-information-area .detail-product-information-subarea {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
  .detail .detail-body .detail-product-information-area .detail-product-information-subarea .information-section {
    width: 100%;
    border: none;
  }
  .detail .detail-body .detail-product-information-area .detail-product-information-subarea .information-section.car-model {
    border-right: none;
  }
  .detail .detail-body .detail-product-information-area .detail-product-information-subarea .information-section .information-section-content .brand-list label {
    width: auto;
    height: 7rem;
    padding: 0 0 0 3rem;
  }
  .background img {
    width: 100%;
  }
}
