@charset "UTF-8";
/* #region ========= 舊版樣式 */
/* #endregion */
.navbar {
  display: none !important;
}

.main {
  flex-direction: column;
}

.back-to-prevous-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  font-size: var(--font-h6);
  padding: 2.4rem 4.2rem;
}
.back-to-prevous-page a {
  display: flex;
  align-items: center;
  transition: color 0.09s ease-in-out;
}
.back-to-prevous-page a i {
  margin-right: 1rem;
}
.back-to-prevous-page a p {
  margin: 0;
}
.back-to-prevous-page a:hover {
  color: rgb(255, 77, 0);
}

.detail {
  display: flex;
  flex-direction: column;
  padding: 2rem 6.2rem;
}
.detail .detail-header .product-name {
  font-size: var(--font-biggest);
  padding: 0 0 0.6rem;
  border-bottom: 3px solid rgb(255, 77, 0);
  margin-bottom: 2rem;
}
.detail .detail-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 3rem 6rem;
}
.detail .detail-body .detail-product-image-area {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  width: 60%;
}
.detail .detail-body .detail-product-image-area .product-image-display .image-display-area img {
  width: 80%;
  height: auto;
}
.detail .detail-body .detail-product-image-area .product-image-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image, .detail .detail-body .detail-product-image-area .product-image-selector .next-image {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 99;
  transition: background-color 0.12s ease-in-out;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image:hover, .detail .detail-body .detail-product-image-area .product-image-selector .next-image:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image:active, .detail .detail-body .detail-product-image-area .product-image-selector .next-image:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i {
  margin: 0;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i::before, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i::before {
  width: 1rem;
  height: 1rem;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i.fa-arrow-left, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i.fa-arrow-left {
  justify-self: flex-start;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image i.fa-arrow-right, .detail .detail-body .detail-product-image-area .product-image-selector .next-image i.fa-arrow-right {
  justify-self: flex-end;
}
.detail .detail-body .detail-product-image-area .product-image-selector .prevous-image {
  margin-right: 1rem;
}
.detail .detail-body .detail-product-image-area .product-image-selector .image-selector-area {
  display: flex;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.detail .detail-body .detail-product-image-area .product-image-selector .image-selector-area img {
  width: calc((100% + 22px) / 5);
  height: auto;
}
.detail .detail-body .detail-product-image-area .product-image-selector .image-selector-area img.hover {
  border: 2px solid rgb(255, 77, 0);
}
.detail .detail-body .detail-product-image-area .product-image-selector .next-image {
  margin-left: 1rem;
}
.detail .detail-body .detail-product-information-area {
  width: 40%;
}
