/* ———————————————————— Page layout ———————————————————————— */

.alert {
    position: fixed;
    $margin-left: 17vw;
    margin-left: $margin-left;
    width: calc(100% - $margin-left);
    font-size: var(--font-small);
}

.main {
    .section {
        margin-left: 17vw;
        width: 83vw;
        height: auto;

        &-title {
            font-size: var(--font-h4);
            padding: 2rem 0 0 2rem;
        }

        .button-action-area {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 2rem;

            .instruction {
                font-size: var(--font-small);
                margin: 0;
            }

            button {
                outline: none;
                border: none;
                cursor: pointer;
                font-size: var(--font-small);
                text-align: center;
                font-weight: normal;
                padding: .6rem .6rem;
                width: calc(100% / 12);
                border: 6px;

                &[data-button-action="delete"] {
                    &:hover {}
                }

                &[data-button-action="delist"] {
                    &:hover {}
                }

                &[data-button-action="public"] {
                    &:hover {}
                }
            }
        }

        .instruction {
            font-size: var(--font-small);
            margin: 0;
            padding-left: 2rem;
            margin-bottom: 2rem;
        }
    }
}

/* ———————————————————— Table ———————————————————————— */

#myTable_wrapper {
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    margin: 2rem;
    padding: .9rem 2rem;

    $font-size: var(--font-small);

    >#myTable_length,
    >#myTable_filter {
        align-items: center;
        justify-content: flex-start;
        font-size: $font-size;

        >label {
            padding: 1rem 0;
            width: 50%;
        }
    }

    // Record per page
    >#myTable_length {
        display: none;

        >label {
            >select {
                margin: 0 .6rem;
                padding: .2rem .6rem;
            }
        }
    }

    // Filter
    >#myTable_filter {
        display: flex;

        >label {
            >input {
                outline: none;
                border: none;
                border-radius: 2px 2px 0 0;
                margin: 0 .6rem;
                padding: .4rem 1rem;
                background-color: rgb(238, 247, 255);
                border-bottom: 2px solid rgba(255, 255, 255, 0);
                transition: all .1s ease-in-out;

                &:focus {
                    border-bottom: 2px solid blue;
                }
            }
        }
    }

    $padding: 1rem;
    $font-size: var(--font-h6);

    thead {
        tr th.sorting {
            color: black;
            font-weight: bold;
            padding: $padding;
            font-size: $font-size;
            cursor: pointer;

            &:hover {
                background-color: azure;
            }
        }
    }

    // Table
    #myTable {
        outline: 1px solid rgb(223, 223, 223);
        padding: .9rem 2rem;
        width: 100% !important;
        border-radius: 6px;

        t {
            &body {
                tr {
                    color: black;

                    &.odd {
                        background-color: rgb(233, 233, 233);
                    }

                    &.even {
                        background-color: rgb(228, 228, 228);
                    }

                    &:hover {
                        background-color: rgb(220, 220, 220);
                        color: orangered;
                    }

                    >td {
                        cursor: pointer;
                        padding: $padding;
                        font-size: $font-size;

                        .inputCheckbox {
                            display: block;
                            cursor: pointer;
                        }

                        >span {
                            $size: 10px;
                            display: inline-block;
                            height: $size;
                            width: $size;
                            border: 25px;
                            margin-right: 1rem;
                            border-radius: 50%;
                        }

                        &[data-status="delist"]>span {
                            animation: blindDelist infinite 1s steps(1);
                        }

                        &[data-status="public"]>span {
                            animation: blindPublic infinite 1s steps(1);
                        }
                    }

                    @keyframes blindDelist {
                        0% {
                            background-color: yellow;
                        }

                        50% {
                            background-color: rgb(187, 187, 0);
                        }
                    }

                    @keyframes blindPublic {
                        0% {
                            background-color: rgb(0, 187, 56);
                        }

                        50% {
                            background-color: green;
                        }
                    }
                }
            }
        }
    }

    $font-size: var(--font-h6);

    // Recond
    >#myTable_info {
        width: 100%;
        text-align: right;
        font-size: $font-size;
    }

    // Paginate
    >#myTable_paginate {
        $border-color: rgba(0, 0, 255, 0.23);

        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: $font-size;
        width: min-content;
        border-radius: 6px;
        border: 2px solid $border-color;

        a {
            cursor: pointer;
            padding: .6rem 1rem;

            &.paginate_button:first-child {
                border-right: 1px solid $border-color;
            }

            &.paginate_button:last-child {
                border-right: 1px solid $border-color;
            }

            &.disabled {
                cursor: not-allowed;
                color: rgb(99, 99, 99);
                background-color: rgba(221, 221, 221, 0.23);
            }
        }

        >span {
            display: flex;
            align-items: center;
            justify-content: center;

            >.paginate_button {
                border-right: 1px solid $border-color;
                border-left: 1px solid $border-color;
                padding: .6rem 1.2rem;

                &:first-child {
                    border-left: 1px solid $border-color;
                    border-right: none;
                }

                &:last-child {
                    border-left: none;
                    border-right: 1px solid $border-color;
                }

                &:hover {
                    background-color: aliceblue;
                }

                &.current {
                    color: orangered;
                    background-color: rgba(255, 189, 165, 0.23);
                }
            }
        }
    }
}

/* ———————————————————— Bootstrap 5 Modal ———————————————————————— */
/* #region */

.modal {
    width: 100%;

    >.modal-dialog {
        width: 70%;
        max-width: 70%;

        >.modal-content {
            >.modal {
                &-header {
                    p.modal-title {
                        margin: 0;
                        font-size: var(--font-h4);
                    }
                }

                &-body {
                    // Product Edit Form
                }

                &-footer {}
            }
        }
    }

    &.show {
        display: block;
    }

    &.fade {}

    .modal-footer {
        justify-content: space-between;
    }
}

/* #endregion */

/* ———————————————————— Product Edit Form ———————————————————————— */

.form {
    $font-size: var(--font-small);

    .form-body {
        padding: 2rem;
        justify-content: space-between;
        column-gap: 3rem;

        >.display-column {
            &:first-child {
                width: 30%;
            }

            &:nth-child(2) {
                width: 35%;
            }

            &:last-child {
                width: 35%;
            }
        }
    }

    .mb-3 {
        column-gap: 1rem;

        label {
            font-size: $font-size;
        }

        input,
        datalist,
        select {
            cursor: pointer;
        }

        input {
            font-size: $font-size;

            &[disabled] {
                cursor: not-allowed;
            }
        }

        datalist {
            font-size: $font-size;
        }

        select {
            font-size: $font-size;
        }

        .label {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .addButton {
                cursor: pointer;
            }
        }
    }

    button {
        font-size: $font-size;
    }
}

/* —————————————————— General setting ——————————————————————*/
.display-row {
    display: flex;
}

.display-column {
    display: flex;
    flex-direction: column;
}

/* ==================== RWD Design ==================== */
@media only screen and (max-width: 790px) {
    .main {
        margin-top: 6rem;

        .section {
            margin-left: 0;
            width: 100vw;
        }
    }

    #myTable_wrapper {

        // Filter
        >#myTable_filter {
            display: flex;
            flex-wrap: nowrap;

            >label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: var(--font-h5);

                >input {
                    padding: .6rem 1.3rem;
                }
            }
        }

        >#myTable {
            t {
                &body {
                    overflow-x: scroll;

                    tr {
                        >td {
                            padding: 2rem 3rem;
                        }
                    }
                }
            }

            >thead {
                overflow-x: scroll;

                >tr {
                    >th {

                        padding: 2rem .5rem;
                        min-width: max-content;
                    }
                }
            }

            >tbody {
                overflow-x: scroll;

                >tr {
                    >td {}
                }
            }

            >#myTable_paginate {
                $border-color: rgba(0, 0, 255, 0.23);

                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: min-content;
                border-radius: 6px;
                border: 2px solid $border-color;

                a {
                    cursor: pointer;
                    padding: .6rem 1rem;

                    &.paginate_button:first-child {
                        border-right: 1px solid $border-color;
                    }

                    &.paginate_button:last-child {
                        border-left: 1px solid $border-color;
                    }

                    &.disabled {
                        cursor: not-allowed;
                        color: rgb(99, 99, 99);
                        background-color: rgba(221, 221, 221, 0.23);
                    }
                }

                >span {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >.paginate_button {
                        border-right: 1px solid $border-color;
                        border-left: 1px solid $border-color;
                        padding: .6rem 1.2rem;

                        &:first-child {
                            border-right: 1px solid $border-color;
                            border-left: none;
                        }

                        &:last-child {
                            border-right: none;
                            border-left: 1px solid $border-color;
                        }

                        &:hover {
                            background-color: aliceblue;
                        }

                        &.current {
                            color: orangered;
                            background-color: rgba(255, 189, 165, 0.23);
                        }
                    }
                }
            }
        }

        .dataTables_scrollHead {
            width: 100%;
        }

        .dataTables_scrollBody {}

        /* ———————————————————— Bootstrap 5 ———————————————————— */

        .modal {

            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;

            >.modal-dialog {
                width: 90%;
                max-width: 90%;
                margin: 0 2rem;
                margin-top: 12rem;
                margin-bottom: 24rem;

                >.modal-content {
                    overflow-y: auto;

                    >.modal {
                        &-header {
                            p.modal-title {
                                margin: 0;
                                font-size: var(--font-h4);
                            }
                        }
                    }
                }
            }
        }

        /* ———————————————————— Product Edit Form ———————————————————————— */

        .form {
            $font-size: var(--font-h5);

            .form-body {
                flex-direction: column;
                padding: 2rem;

                >.display-column {
                    row-gap: 1.6rem;

                    &:first-child {
                        width: 100%;
                    }

                    &:nth-child(2) {
                        width: 100%;
                    }

                    &:last-child {
                        width: 100%;
                    }
                }
            }
        }

    }
    #myTable_wrapper #myTable thead tr > th,
    #myTable_wrapper #myTable tbody tr > td{
        white-space: nowrap;
        padding: 2rem 3rem 2rem .6rem;
    }
}