
body{
    display: flex;
    >.main {
        margin-left: 16vw;
        background-color: hsla(240, 20%, 10%, .9);
    }
}
.content{
    width: 85vw;
    padding: 2rem 7rem;
    
    >.content-header{
        margin-bottom: 2rem;
        >.content-title{
            font-size: var(--font-h5);
            font-weight: 500;
        }
    }
    >.content-body{
        padding: .9rem 4rem;
        .form .form-row{
            margin-bottom: 4rem;
            .form-row-title-text{
                font-size: calc(var(--font-h6));
                font-weight: normal;
            }
            .form-row-body{
                .form-row-image{
                    --value: 100px;
                    display: flex;
                    flex-direction: row;
                    column-gap: 2rem;
                    .drop-box{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        cursor: pointer;
                        height: var(--value);
                        min-width: var(--value);
                        width: var(--value);
                        font-size: calc(var(--font-h6) - .4rem);
                        color: hsl(0, 0%, 54%);
                        border: 1px solid;
                        box-shadow: 0 0 10px hsl(0, 0%, 66%);
                        transition: all .1s ease-in-out;
                        &:hover{
                            box-shadow: 0 0 10px hsl(243, 10%, 65%);
                        }
                        &:active{
                            box-shadow: 0 0 10px hsl(243, 30%, 66%);
                        }
                        &.active{
                            color: hsl(28, 46%, 54%);
                            border: 1px solid;
                            box-shadow: 0 0 10px hsl(28, 46%, 54%);
                        }
                        &.disable{
                            box-shadow: 0 0 10px hsl(0, 74%, 57%);
                            color: red;
                            animation: shake 0.4s 1.5;
                            background-color: rgba(0, 0, 0, 0.2);
                            cursor: not-allowed;
                        }
                        >.drop-text{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    .drop-image-list{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        column-gap: 5.5rem;
                        row-gap: 3rem;
                        margin-left: 4rem;
                        height: calc( 2 * var(--value) + 80px);
                        >.drop-image-box{
                            
                            width: var(--value);
                            height: var(--value);
                            border-radius: 2px;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            
                            >p.drop-image-box-title{
                                
                            }
                            >.drop-image-delete{
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 2;
                                position: relative;
                                bottom: 25px;
                                height: 25px;
                                width: 100%;
                                background-color: rgba(0, 0, 0, 0.5);
                                transition: all .1s ease;
                                font-size: calc(var(--font-h6) - .5rem);
                                &:hover{
                                    background-color: rgba(0, 0, 0, 0.7);
                                }
                            }
                        }
                    }
                }
            }
            .form-row-body-radio{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                row-gap: 1rem;
                column-gap: 1.8rem;
                .form-check-input{
                    display: none;
                    &:checked + .form-radio{
                        text-shadow: 0 0 2.5px rgba(255, 255, 255, .4);
                        box-shadow: 0 0 20px hsla(240, 100%, 47%, 0.4);
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
                .form-radio{
                    flex: 1 0 50%;
                    width: 100%;
                    cursor: pointer;
                    padding: 2rem 4rem;
                    border-radius: 6px;
                    background-color: rgba(0, 0, 0, 0.2);
                    font-size: var(--font-h6);
                    transition: all .19s ease-in-out;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                    &:active{
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }
    >.content-footer{

    }

}

img.thumble{
    height: var(--value);
    width: var(--value);
}

input[type="file"]{
    display: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-2.5deg); }
    50% { transform: translateX(5px) rotate(2.5deg); }
    75% { transform: translateX(-5px) rotate(-2.5deg); }
    100% { transform: translateX(0); }
}

.form-control{
    box-shadow: none;
    transition: all .12s ease-in-out;
    &[type="text"]{
        color: white;
    }
    border-color: rgba(0, 0, 48, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    &:focus{
        background-color: rgba(0, 0, 0, 0.3);
    }
    &:valid{
        box-shadow: 0 0 20px hsla(136, 100%, 47%, 0.4);
        border-color: green;
    }
}

