
.content{
    margin-left: 18vw;
    .content-header{
        h1.content-title{
            font-size: var(--font-h4);
            i{
                margin-right: 1rem;
            }
        }
    }
    .content-body{
        .form{
            margin-top: 3rem;
            .form-row{
                .form-row-title{
                    p.form-row-title-text{
                        font-size: var(--font-small);
                        &.request::after{
                            content: '*';
                            color: red;
                        }
                    }
                }
                .form-row-body{
                    display: flex;
                    align-items: center;
                    .form-row-body-container{
                        
                        &.control{
                            font-size: var(--font-h1);
                            i{
                                color: #555;
                            }
                        }
                        &.display{
                            display: flex;
                            flex-wrap: nowrap;
                            column-gap: 1.2rem;
                            height: 8rem;
                            width: 33vw;
                            scroll-behavior: smooth;
                            position: relative;
                            overflow-x: hidden;
                            padding: 0 1rem;
                            .image{
                                background-color: red;
                                min-height: 8rem;
                                min-width: 8rem;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-footer{

    }
}