
.content{
    margin-left: 18vw;
    width: 81%;
    padding: 0 0 4rem 0;
    .content-header{
        h1.content-title{
            font-size: var(--font-h4);
            i{
                margin-right: 1rem;
            }
        }
    }
    .content-body{
        .form{
            margin-top: 3rem;
            .form-row{
                .form-row-title{
                    p.form-row-title-text{
                        font-size: var(--font-small);
                        &.request::after{
                            content: '*';
                            color: red;
                        }
                    }
                }
                .form-row-body{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    &.image{
                        outline: #555 1px solid;
                        border-radius: 6px;
                        margin: 2rem 0;
                        display: flex;
                    }
                    .form-row-body-container{
                        padding: 8rem 3rem;
                        // height: 16rem;
                        &.control{
                            font-size: var(--font-h1);
                            height: max-content;
                            width: max-content;
                            cursor: pointer;
                            transition: all .12s ease-in-out;
                            &:hover{
                                background-color: rgba(128, 128, 128, 0.2);
                            }
                            i{
                                color: #555;
                                
                            }
                        }
                        &.display{
                            display: flex;
                            flex-wrap: nowrap;
                            column-gap: 1.2rem;
                            width: 100%;
                            scroll-behavior: smooth;
                            position: relative;
                            overflow-x: hidden;
                            padding: 0 1rem;
                            .image{
                                background-color: red;
                                min-height: 8rem;
                                min-width: 8rem;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-footer{

    }
}

#addInputNameListBtn, #addInputBrandListBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    p{
        margin: 0;
    }
}

.caps{
    text-transform: uppercase;
}

.display-row{
    display: flex;
}

.display-column{
    display: flex;
    flex-direction: column;
}