/* #region ========= 舊版樣式 */


/* #endregion */

.navbar{
    display: none !important;
}

.main{
    flex-direction: column;
    column-gap: 0;
}

.back-to-previous-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: var(--font-h6);
    padding: 3rem 6rem .2rem;
    a{
        display: flex;
        align-items: center;
        padding: .8rem 1rem;
        transition: background-color .09s ease-in-out;
        &:hover{
            color: blue;
        }
    }
        
}

.detail{
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 4rem;
    width: 100%;
    .detail-header{
        
    }
    .detail-body{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 2rem;
        padding: 1rem 2rem 1rem 0;
        .detail-product-image-area{
            display: flex;
            flex-direction: column;
            row-gap: 1.6rem;
            width: 40%;
            .product-image-display{
                width: 87.5%;
                border: 1px solid #00000005;
                min-width: 20vw;
                min-height: 20vw;
                max-height: 20vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .image-display-area{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .product-image-selector{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 87.5%;
                .prevous-image, .next-image{
                    display: flex;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 50%;
                    z-index: 99;
                    transition: background-color .12s ease-in-out;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                    &:active{
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                    i{
                        margin: 0;
                        border-radius: 50%;
                        width: 1vw;
                        height: 1vw;
                        padding: 1.4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &::before{
                            width: 1rem;
                            height: 1rem;
                        }
                        &.fa-arrow-left{
                            justify-self: flex-start;
                        }
                        &.fa-arrow-right{
                            justify-self: flex-end;
                        }
                    }
                }
                .prevous-image{
                    margin-right: 1rem;
                }
                .image-selector-area{
                    display: flex;
                    column-gap: 1rem;
                    position: relative;
                    max-width: 100%;
                    overflow-x: hidden;
                    scroll-behavior: smooth;
                    img{
                        width: calc((100% + 36px ) / 5);
                        height: auto;
                        &.hover{
                            border: 2px solid rgb(255, 77, 0);
                        }
                    }
                }
                .next-image{
                    margin-left: 1rem;
                }
            }
        }
        .detail-product-information-area{
            display: flex;
            flex-direction: column;
            width: 60%;
            row-gap: 1.2rem;
            .information-section{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                column-gap: 1.2rem;
                &.brand-list-box{
                    justify-content: space-between;
                }
                .information-section-content{
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    align-content: center;
                    row-gap: 1.2rem;
                    column-gap: 1.2rem;
                    .brand-list{
                        display: flex;
                        row-gap: 1.4rem;
                        flex-direction: column;
                        padding: .1rem 0 2rem;
                        input[type="radio"]{
                            display: none;
                        }
                        input[type="radio"]:checked + label{
                            background: rgb(255, 115, 64);
                            color: #fafafa;
                        }
                        label{
                            transition: all .12s ease-in-out;
                            cursor: pointer;
                            border-radius: 2px;
                            font-size: var(--font-h6);
                            border: #ff6f00 2px solid;
                            background-color: #fdfdfd;
                            min-height: min-content;
                            height: 5rem;
                            max-height: max-content;
                            padding: 0 0 0 2rem;
                            img{
                                height: 100%;
                            }
                        }
                    }
                }   
                .product-name{
                    font-size: var(--font-h1);
                    font-weight: bold;
                    padding: 0 0 .6rem;
                    color: rgb(22, 22, 22);
                }
                .section-title{
                    width: max-content;
                    font-size: var(--font-h6);
                    white-space: nowrap;
                    color: #00000099;
                    &~p{
                        font-size: var(--font-h5);
                    }
                }
                
            }
            .detail-product-information-subarea{
                column-gap: 4rem;
                .information-section.car-model{
                    padding-right: 4rem;
                    border-right: 1px solid #000000aa;
                }
                .brand-list-container{
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
            .action-section{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 1rem;
                .action-title{
                    width: 21.8%;
                    color: rgb(52, 52, 52);
                    font-size: var(--font-small);
                }
                .add-to-cart-area{
                    display: flex;
                    column-gap: 2rem;
                    .quantity-select-area{
                        border-radius: 2px;
                        border: 1px solid #E2E2E2;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .quantityButton{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: rgb(134, 134, 134);
                            padding: 1.6rem;
                            width: 3rem;
                            height: 100%;
                            border: none;
                            outline: none;
                            i{
                                margin: 0;
                                width: .6rem;
                                height: .6rem;
                                padding: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        button.add-quantity{
                            border-left: 1px solid #E2E2E2;
                        }
                        .display-current-quantity-box{
                            font-size: var(--font-small);
                            padding: 0 2rem;
                            p{
                                margin: 0;
                            }
                        }
                        button.remove-quantity{
                            border-right: 1px solid #E2E2E2;
                        }
                    }
                    button.add-to-cart{
                        outline: 0;
                        border: 1px solid #ee3211;
                        color: #ee3211;
                        background-color: #f4eeec;
                        border-radius: 2px;
                        width: max-content;
                        padding: 1rem 2rem;
                        font-size: var(--font-h6);
                        transition: background-color .1s ease-in-out;
                        &:hover{
                            background-color: #FEFEFE;
                        }
                    }
                }
            }
        }
    }
    .detail-footer{

    }
}

.user-action{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    position: fixed;
    bottom: 5rem;
    right: 0;
    padding: 1rem;
    .user-action-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        transition: filter .12s ease-in-out;
        cursor: pointer;
        &:hover{
            filter: contrast(175%);
        }
        i{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--font-h6);
            color: white;
        }
    }
    .notification{
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        position: relative;
        left: 2.3rem;
        top: 1.2rem;
        border-radius: 50%;
        background-color: red;
        color: white;
        font-size: var(--font-smaller);
    }
    .view-cart{
        background-color: #ee4d2d;
    }
    .whatapps{
        background-color: hsl(103, 78%, 21%);
        i{
            font-size: 2rem;
        }
    }
}

.disable-funciton{
    display: none;
}

.display-row{
    display: flex;
}
.display-column{
    display: flex;
    flex-direction: column;
}
p{
    margin-bottom: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: #000000cc;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        cursor: default;
        width: 40%;
        height: auto;
        background-color: white;
    }
}

label.product-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.4rem;
}

.brand-image{
    width: 60px;
    height: auto;
    padding: .3rem;
    background-color: white;
    object-fit: fill;
}


@media only screen and (max-width: 970px) {
    .detail{
        padding: 1rem 3rem 2rem;
        .detail-body{
            flex-direction: column;
            .detail-product-image-area{
                width: 100%;
                .product-image-display{
                    width: 100%;
                }
                .product-image-selector{
                    width: 100%;
                }
            }
            .detail-product-information-area{
                margin-top: 3rem;
                width: 100%;
                .detail-product-information-subarea{
                    display: flex;
                    flex-direction: column;
                    row-gap: 4rem;
                    .information-section{
                        width: 100%;
                        border: none;
                        &.car-model{
                            border-right: none;
                        }
                    }
                }
            }
        }
    }

    .background{
        img{
            width: 100%;
        
        }
    }
}
