@charset "UTF-8";
.main .section {
  margin-left: 17vw;
  width: 83vw;
  height: auto;
}
.main .section-title {
  font-size: var(--font-h4);
  padding: 2rem 0 0 2rem;
}

/* ———————————————————— Table ———————————————————————— */
#myTable_wrapper {
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  margin: 2rem;
  padding: 0.9rem 2rem;
}
#myTable_wrapper > #myTable_length, #myTable_wrapper > #myTable_filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-small);
}
#myTable_wrapper > #myTable_length > label, #myTable_wrapper > #myTable_filter > label {
  padding: 1rem 0;
  width: 50%;
}
#myTable_wrapper > #myTable_length > label > select {
  margin: 0 0.6rem;
  padding: 0.2rem 0.6rem;
}
#myTable_wrapper > #myTable_filter > label > input {
  margin: 0 0.6rem;
  padding: 0.2rem 0.6rem;
}
#myTable_wrapper > #myTable {
  outline: 1px solid rgb(223, 223, 223);
  padding: 0.9rem 2rem;
  width: 100% !important;
  border-radius: 6px;
}
#myTable_wrapper > #myTable > thead > tr > th {
  color: black;
  font-weight: bold;
  padding: 1rem;
  font-size: var(--font-h6);
  cursor: pointer;
  border-bottom: 1px solid darkgrey;
}
#myTable_wrapper > #myTable > thead > tr > th:hover {
  background-color: azure;
}
#myTable_wrapper > #myTable > tbody > tr {
  color: black;
}
#myTable_wrapper > #myTable > tbody > tr.odd {
  background-color: rgb(233, 233, 233);
}
#myTable_wrapper > #myTable > tbody > tr.even {
  background-color: rgb(228, 228, 228);
}
#myTable_wrapper > #myTable > tbody > tr:hover {
  background-color: rgb(220, 220, 220);
  color: orangered;
}
#myTable_wrapper > #myTable > tbody > tr > td {
  cursor: pointer;
  padding: 1rem;
  font-size: var(--font-h6);
}
#myTable_wrapper > #myTable > tbody > tr > td .inputCheckbox {
  display: block;
  cursor: pointer;
}
#myTable_wrapper > #myTable > tbody > tr > td > span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 25px;
  margin-right: 1rem;
  border-radius: 50%;
}
#myTable_wrapper > #myTable > tbody > tr > td[data-status=Delist] > span {
  animation: blindDelist infinite 1s steps(1);
}
#myTable_wrapper > #myTable > tbody > tr > td[data-status=Public] > span {
  animation: blindPublic infinite 1s steps(1);
}
@keyframes blindDelist {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: rgb(187, 187, 0);
  }
}
@keyframes blindPublic {
  0% {
    background-color: rgb(0, 187, 56);
  }
  50% {
    background-color: green;
  }
}
#myTable_wrapper > #myTable_info {
  width: 100%;
  text-align: right;
  font-size: var(--font-h6);
}
#myTable_wrapper > #myTable_paginate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-h6);
  width: -moz-min-content;
  width: min-content;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 255, 0.23);
}
#myTable_wrapper > #myTable_paginate a {
  cursor: pointer;
  padding: 0.6rem 1rem;
}
#myTable_wrapper > #myTable_paginate a.paginate_button:first-child {
  border-right: 1px solid rgba(0, 0, 255, 0.23);
}
#myTable_wrapper > #myTable_paginate a.paginate_button:last-child {
  border-right: 1px solid rgba(0, 0, 255, 0.23);
}
#myTable_wrapper > #myTable_paginate a.disabled {
  cursor: not-allowed;
  color: rgb(99, 99, 99);
  background-color: rgba(221, 221, 221, 0.23);
}
#myTable_wrapper > #myTable_paginate > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
#myTable_wrapper > #myTable_paginate > span > .paginate_button {
  border-right: 1px solid rgba(0, 0, 255, 0.23);
  border-left: 1px solid rgba(0, 0, 255, 0.23);
  padding: 0.6rem 1.2rem;
}
#myTable_wrapper > #myTable_paginate > span > .paginate_button:first-child {
  border-left: 1px solid rgba(0, 0, 255, 0.23);
  border-right: none;
}
#myTable_wrapper > #myTable_paginate > span > .paginate_button:last-child {
  border-left: none;
  border-right: 1px solid rgba(0, 0, 255, 0.23);
}
#myTable_wrapper > #myTable_paginate > span > .paginate_button:hover {
  background-color: aliceblue;
}
#myTable_wrapper > #myTable_paginate > span > .paginate_button.current {
  color: orangered;
  background-color: rgba(255, 189, 165, 0.23);
}

.restoreButton {
  padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
  font-size: var(--font-small);
  border-radius: 2px;
  color: white;
  background-color: green;
  transition: all 0.12s ease-in-out;
}
.restoreButton:hover {
  background-color: rgb(0, 110, 0);
}
