.content {
  margin-left: 18.5vw;
  width: 80%;
  padding: 0 0 4rem 0;
}
.content .content-header h1.content-title {
  font-size: var(--font-h4);
}
.content .content-header h1.content-title i {
  margin-right: 1rem;
}
.content .content-body .form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.content .content-body .form .form-row .form-row-title p.form-row-title-text {
  font-size: var(--font-h6);
}
.content .content-body .form .form-row .form-row-title p.form-row-title-text.request::after {
  content: "*";
  color: red;
}
.content .content-body .form .form-row .form-row-body {
  display: flex;
  align-items: center;
  width: 100%;
}
.content .content-body .form .form-row .form-row-body .form-input {
  width: 100%;
}
.content .content-body .form .form-row .form-row-body #inputContainerName, .content .content-body .form .form-row .form-row-body #inputContainerBrand {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  width: 100%;
}
.content .content-body .form .form-row .form-row-body #inputContainerName .form-input, .content .content-body .form .form-row .form-row-body #inputContainerBrand .form-input {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  max-width: 100%;
}
.content .content-body .form .form-row .form-row-body #inputContainerName .form-input > * {
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
}
.content .content-body .form .form-row .form-row-body #inputContainerBrand .form-input > * {
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
}
.content .content-body .form .form-row .form-row-body.image {
  outline: #555 1px solid;
  border-radius: 6px;
  margin: 2rem 0;
  display: flex;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container {
  padding: 8rem 3rem;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.control {
  font-size: var(--font-h1);
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.control:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.control i {
  color: #555;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  width: 100%;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  padding: 0 1rem;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  min-width: 80%;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap {
  display: flex;
  position: relative;
  margin: 10px 5px;
  min-width: calc(20% - 10px);
  max-width: calc(20% - 10px);
  height: calc(auto - 10px);
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap:after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap img {
  vertical-align: middle;
  width: 100%;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap > span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 16px;
  border-radius: 20px;
  background: rgba(77, 77, 77, 0.4);
  transition: all 0.12s ease-in-out;
  font-size: var(--font-h6);
  cursor: pointer;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap > span:hover {
  background: rgba(77, 77, 77, 0.5);
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap > span > i {
  color: white;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap label {
  cursor: pointer;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display #img-container .img-wrap label > input {
  display: none;
}
.content .content-body .form .form-row .form-row-body .form-row-body-radio {
  width: 100%;
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.content .content-body .form .form-row .form-row-body .form-row-body-radio input {
  display: none;
}
.content .content-body .form .form-row .form-row-body .form-row-body-radio input:checked + label.form-check-label {
  color: rgb(0, 79, 0);
  border-color: green;
  background-color: rgb(231, 255, 231);
}
.content .content-body .form .form-row .form-row-body .form-row-body-radio .form-check-label {
  border-radius: 6px;
  border: 2px solid #000;
  padding: 2rem 6rem;
  width: calc(25% - 20px);
  text-align: center;
  cursor: pointer;
}
.content .content-body .form .form-row .form-row-body .form-row-body-radio .form-check-label .form-radio {
  font-size: var(--font-h6);
}
.content .content-body .form .form-row .form-row-body.buttonArea {
  display: flex;
}
.content .content-body .form .form-row .form-row-body.buttonArea button {
  padding: 1rem 3rem;
  font-size: var(--font-small);
  outline: none;
  border: none;
  border-radius: 4px;
}
.content .content-body .form .form-row .form-row-body.buttonArea button.resetButton {
  background-color: rgb(255, 187, 187);
  margin-right: 2rem;
}
.content .content-body .form .form-row .form-row-body.buttonArea button.resetButton:hover {
  background-color: rgb(255, 152, 152);
}
.content .content-body .form .form-row .form-row-body.buttonArea button.submitButton {
  background-color: rgb(187, 255, 187);
}
.content .content-body .form .form-row .form-row-body.buttonArea button.submitButton:hover {
  background-color: rgb(152, 255, 152);
}
#addInputNameListBtn, #addInputBrandListBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
#addInputNameListBtn p, #addInputBrandListBtn p {
  margin: 0;
}

.caps {
  text-transform: uppercase;
}

.display-row {
  display: flex;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.alert {
  position: fixed;
  width: 81.9vw;
  margin-left: 17vw;
  font-size: var(--font-h6);
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.alert .btn-close {
  position: relative;
  padding: 0;
}

input[required]::-moz-placeholder {
  color: red;
}

input[required]::placeholder {
  color: red;
}

.modal-header,
.modal-body,
.modal-footer {
  font-size: var(--font-h5);
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.show {
  opacity: 100;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.modal {
  margin-top: 6rem;
  padding-top: 2rem;
}

.loading-screen {
  display: none;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
}
.loading-screen:hover {
  cursor: wait;
}
.loading-screen.show {
  z-index: 1090;
}

.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}
.loader--text:after {
  content: "Please wait a minute";
  font-weight: bold;
  font-size: var(--font-h6);
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Processing";
  }
  25% {
    content: "Processing.";
  }
  50% {
    content: "Processing..";
  }
  75% {
    content: "Processing...";
  }
}
/* ====================== RWD Design ====================== */
@media only screen and (max-width: 790px) {
  .content {
    width: 100%;
    padding: 6rem 2rem;
    margin-left: 0;
  }
  .content .content-body {
    padding: 0;
    margin: 0;
  }
  .content .content-body .form .form-row .form-row-body #inputContainerName .form-input > * {
    min-width: calc(33.3333333333% - 1.2rem);
    max-width: calc(33.3333333333% - 10px);
  }
  .content .content-body .form .form-row .form-row-body #inputContainerBrand .form-input > * {
    min-width: calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-container {
    padding: 8rem 3rem;
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-container.control {
    font-size: var(--font-h1);
    height: -moz-max-content;
    height: max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    transition: all 0.12s ease-in-out;
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-container.control:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-container.control i {
    color: #555;
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-radio {
    width: 100%;
    display: flex;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-radio input {
    display: none;
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-radio input:checked + label.form-check-label {
    color: rgb(0, 79, 0);
    border-color: green;
    background-color: rgb(231, 255, 231);
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-radio .form-check-label {
    padding: 1rem 3rem;
    width: 30%;
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-radio .form-check-label .form-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-h6);
  }
  .content .content-body .form .form-row .form-row-body .form-row-body-radio .form-check-label .form-radio p {
    margin-bottom: 0;
  }
}
