.content {
  margin-left: 18vw;
}
.content .content-header h1.content-title {
  font-size: var(--font-h4);
}
.content .content-header h1.content-title i {
  margin-right: 1rem;
}
.content .content-body .form {
  margin-top: 3rem;
}
.content .content-body .form .form-row .form-row-title p.form-row-title-text {
  font-size: var(--font-small);
}
.content .content-body .form .form-row .form-row-title p.form-row-title-text.request::after {
  content: "*";
  color: red;
}
.content .content-body .form .form-row .form-row-body {
  display: flex;
  align-items: center;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.control {
  font-size: var(--font-h1);
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.control i {
  color: #555;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  height: 8rem;
  width: 33vw;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  padding: 0 1rem;
}
.content .content-body .form .form-row .form-row-body .form-row-body-container.display .image {
  background-color: red;
  min-height: 8rem;
  min-width: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
