@charset "UTF-8";
/* ———————————————————— Layouts ———————————————————— */
.main .section {
  margin-left: 17vw;
  padding: 0 2rem;
  width: 83vw;
  height: auto;
}
.main .section-title {
  font-size: var(--font-h4);
  padding: 3rem 0 0;
}
.main .section .button-action-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem 0.5rem;
}
.main .section .button-action-area button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-small);
  text-align: center;
  font-weight: normal;
  padding: 0.6rem 0.6rem;
  width: 10%;
  border: 6px;
}
.main .section .button-action-area button:disabled {
  cursor: not-allowed;
  background-color: darkgrey;
  color: rgb(25, 25, 25);
}

/* ———————————————————— Order ———————————————————— */
.order {
  max-width: 100%;
}
.order .order-header {
  justify-content: flex-start;
  align-items: center;
  padding-right: 2.5rem;
  row-gap: 0.7rem;
}
.order .order-header .order-info {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.order .order-header p {
  margin-bottom: 0;
  font-size: var(--font-h6);
}
.order .order-header .customer-info {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.order .order-header .customer-info .customer-name {
  font-weight: bold;
  color: rgb(0, 0, 147);
  text-align: left;
}
.order .order-body {
  font-size: var(--font-small);
}
.order .order-body .order-list {
  padding: 1rem 1.4rem;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 0;
       column-gap: 0;
  cursor: pointer;
}
.order .order-body .order-list:hover {
  color: blue;
}
.order .order-body .order-list:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
}
.order .order-body .order-list p {
  margin-bottom: 0;
}
.order .order-body .order-list p:first-child {
  max-width: 20px;
  margin-right: 3rem;
}
.order .order-body .order-list p:not(:first-child) {
  min-width: calc(20% - 60px);
  max-width: calc(20% - 60px);
  margin-right: 0.8rem;
}
.order .order-body .order-list p[data=own] {
  margin-left: 1.2rem;
  color: red;
}
/* ———————————————————— General ———————————————————— */
.display-row {
  display: flex;
}

.display-column {
  display: flex;
  flex-direction: column;
}

/* ———————————————————— Modal ———————————————————— */
#backgroundModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6745098039);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem;
}
#backgroundModal #editModal {
  min-width: 40%;
  max-width: 40%;
  height: auto;
  padding: 0.4rem 0;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  top: 0;
  left: 0;
}
#backgroundModal #editModal.shake {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#backgroundModal #editModal.shake #backgroundModalButton {
  animation-name: scale;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
#backgroundModal #editModal .modal-header {
  font-size: var(--font-h5);
  background-color: #fafafa;
}
#backgroundModal #editModal .modal-header p {
  margin-bottom: 0;
}
#backgroundModal #editModal .modal-header #backgroundModalButton {
  cursor: pointer;
  color: #1E3050;
}
#backgroundModal #editModal .modal-header #backgroundModalButton:hover {
  color: red;
}
#backgroundModal #editModal .modal-body {
  font-size: var(--font-small);
}
#backgroundModal #editModal .modal-body input {
  font-size: var(--font-small);
}
#backgroundModal #editModal .modal-footer {
  background-color: #fafafa;
}
#backgroundModal #editModal .modal-footer button {
  font-size: var(--font-small);
}

@keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  12.5% {
    transform: rotateZ(1deg);
  }
  25% {
    transform: rotateZ(-1deg);
  }
  37.5% {
    transform: rotateZ(1deg);
  }
  50% {
    transform: rotateZ(-1deg);
  }
  62.5% {
    transform: rotateZ(1deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
  87.5% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes scale {
  0% {
    transform: scaleY(1.2);
  }
  70% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
/* ==================== RWD (Response Web Design) ==================== */
@media only screen and (max-width: 790px) {
  /* ———————————————————— Layouts ———————————————————— */
  .main .section {
    margin-left: 0;
    margin-top: 4rem;
    padding: 2rem;
    width: 100vw;
  }
  /* ———————————————————— Order ———————————————————— */
  .order {
    max-width: 100%;
  }
  .order .order-header {
    justify-content: flex-start;
    align-items: center;
    padding-right: 2.5rem;
    row-gap: 0.7rem;
  }
  .order .order-header .order-info {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .order .order-header p {
    margin-bottom: 0;
    font-size: var(--font-h6);
  }
  .order .order-header .customer-info {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .order .order-header .customer-info .customer-name {
    font-weight: bold;
    color: rgb(0, 0, 147);
    text-align: left;
  }
  .order .order-body {
    font-size: var(--font-h5);
    overflow-x: auto;
  }
  .order .order-body .order-list {
    padding: 2rem 1.2rem;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    cursor: pointer;
    white-space: nowrap;
  }
  .order .order-body .order-list:hover {
    color: blue;
  }
  .order .order-body .order-list:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
  }
  .order .order-body .order-list p {
    margin-bottom: 0;
  }
  .order .order-body .order-list p:first-child {
    max-width: 20px;
    margin-right: 3rem;
  }
  .order .order-body .order-list p:last-child {
    padding-right: 3rem;
  }
  .order .order-body .order-list p:not(:first-child) {
    min-width: auto;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 2rem;
  }
  .order .order-body .order-list p[data=own] {
    margin-left: 1.2rem;
    color: red;
  }
}
