<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    
        <security>
            <authorization>
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
	<rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/x-httpd-php" />
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php-8.2.6\php-cgi.exe" resourceType="File" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-store" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="#####" />
            </webServices>
        </scripting>
    </system.web.extensions>
    <system.web>
        <roleManager enabled="true" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>