.navbar {
  position: relative;
}

.filter {
  position: relative;
  margin: 2rem 2.8rem;
  padding: 3rem;
  min-width: 220px;
  max-width: 18vw;
  height: auto;
  background-color: rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.filter .filter-header {
  font-size: var(--font-h6);
}
.filter .filter-header > i {
  margin-right: 1rem;
}
.filter .filter-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2rem 0;
}
.filter .filter-body .filter-section {
  width: 100%;
}
.filter .filter-body .filter-section input[type=checkbox][name=Model]:checked + .filter-section-title i {
  transform: rotateZ(180deg);
}
.filter .filter-body .filter-section .filter-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-small);
  margin-bottom: 1.2rem;
  z-index: 2;
}
.filter .filter-body .filter-section .filter-section-title i {
  transition: transform 0.12s ease-in-out;
}
.filter .filter-body .filter-section .filter-section-box {
  visibility: visible;
  display: flex;
  transform: translateY(0);
  flex-direction: column;
  row-gap: 1.2rem;
}
.filter .filter-body .filter-section .filter-section-box .checkbox-section label.checkbox-box {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.filter .filter-body .filter-section .filter-section-box .checkbox-section label.checkbox-box input[type=checkbox].checkbox-display {
  display: block;
}
.filter .filter-body .filter-section .filter-section-box .checkbox-section label.checkbox-box .checkbox-name {
  margin: 0;
  font-size: var(--font-small);
}
.filter .filter-footer {
  width: 100%;
}
.filter .filter-footer .resetButton {
  width: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.9rem 2rem;
  color: white;
  background-color: rgb(255, 106, 0);
  font-size: var(--font-small);
}

@media only screen and (max-width: 720px) {
  .filter {
    display: none;
  }
}
