
/* ——————————————————————————————————————— Layout ————————————————————————————————————————————— */

// #region

.cart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .cart-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
        .page-title{
            font-size: var(--font-h2);
        }
        .button-create-order{
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            background-color: green;
            border-radius: 4px;
            color: white;
            font-weight: 600;
            padding: .4rem;
            &:hover{
                background-color: rgb(0, 109, 0);
            }
            .center{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--font-small);
                i{
                    padding-left: 1rem;
                }
                p{
                    padding: .9rem 2rem .9rem 1rem;
                    margin: 0;
                }
            }
        }
    }

    .cart-body{
        .cards-container{
            display: flex;
            flex-direction: column;
            .cards-header{

            }
            .cards-body{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 0 4rem;
                flex-wrap: wrap;
                column-gap: 4vw;
                row-gap: 3vw;
                input[type="checkbox"]{
                    &:checked + label .product-card{
                        box-shadow: .3px .3px 5px .2px green;
                    }
                }
                label{
                    $width: calc((100% / 4));
                    min-width: 230px;
                    width: $width;
                    max-width: $width;
                }
                .product-card{
                    cursor: pointer;
                    border-radius: 6px;
                    box-shadow: .3px .3px 5px .2px rgba(0, 0, 0, 0.2);
                    display: flex;
                    flex-direction: column;
                    
                    &:hover{
                        box-shadow: .7px .7px 10px .3px rgba(0, 0, 0, 0.2);
                    }
                    .product-card-header{
                        a{
                            display: block;
                            cursor: pointer;
                            position: relative;
                            overflow: hidden;
                            border-radius: 6px 6px 0 0 ;
                            &:hover{
                                .product-card-image{
                                    transform: scale(1.2);
                                    transform-origin: center center;
                                    filter: brightness(0.7);
                                }
                                .hover{
                                    z-index: 10;
                                    display: block;
                                }
                            }
                            .hover{
                                transition: all .2s ease-in-out;
                                position: absolute;
                                top: 50%; 
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: white;
                                background-color: rgba(0, 0, 0, 0.4);
                                border-radius: 4px;
                                border: 1px solid white;
                                padding: 10px;
                                font-size: var(--font-small);
                                display: none;
                            }
                            .product-card-image{
                                
                                width: 100%;
                                height: 16rem;
                                object-fit: cover;
                                transition: transform .2s ease-in-out, filter .24s ease-in;
                            }
                        }
                    }
                    .product-card-body{
                        padding: .9rem 1.2rem;
                        .product{
                            &-brand{
                                font-size: var(--font-h5);
                                color: black;
                                font-weight: normal;
                                margin: 0;
                            }
                            &-category{
                                font-size: var(--font-small);
                                color: grey;
                                font-weight: normal;
                                margin: 0;
                                padding-bottom: 1rem;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                    .product-card-footer{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-left: 7.5vw;
                        padding: .2rem 1rem 1rem 0;
                        .quantity-button{
                            padding: .4rem 1.3rem;
                            font-size: var(--font-small);
                            border: none;
                            outline: none;
                            &.remove{
                                
                            }
                            &.add{

                            }
                        }
                        .display-quantity{
                            padding: 0 2rem;
                            font-size: var(--font-small);
                        }
                    }
                }
            }
            .cards-footer{

            }
        }
    }

    .cart-footer{

    }

}


// #endregion

/* ——————————————————————————————————————— Layout (Table) ————————————————————————————————————————————— */

.main{
    display: flex;
    flex-direction: column;
    background-color: #fffffc;
    .content{
        padding: 2rem 3rem;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 1px 1px 25px .2px rgba(0, 0, 0, 0.2);
    }
}

.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    .page-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #010D4D;
        column-gap: 1.2rem;
        i{
            padding-top: .4rem;
            font-size: var(--font-h6);
        }
        p{
            font-size: var(--font-h3);
            margin-bottom: 0;  
        }
    }
    .button-create-order{
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        background-color: #04BF68;
        border-radius: 4px;
        transition: all .2s ease-in-out;
        color: white;
        font-weight: 600;
        padding: .2rem;
        &:hover{
            background-color: #00a759;
        }
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--font-small);
            i{
                padding-left: 1rem;
                padding-right: 1.2rem;
            }
            p{
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                padding: .8rem 1.4rem .8rem 1.2rem;
                margin: 0;
            }
        }
    }
}

/* ——————————————————————————————————————— Data Tables ————————————————————————————————————————————— */

#myTable_wrapper{
    display: flex;
    flex-direction: column;
    $label-font-size: var(--font-small);
    /** —————————————— Record Per Page —————————————— */
    #myTable_length{
        display: none;
        width: 100%;
        margin-bottom: 1.2rem;
        label{
            font-size: $label-font-size;
            select{
                padding: .2rem .4rem;

            }
        }
    }

    /** ——————————————————— Filter —————————————————— */
    #myTable_filter{
        display: flex;
        label{
            font-size: $label-font-size;
            >input{
                outline: none;
                border: none;
                border-radius: 2px 2px 0 0;
                margin: 0 .6rem;
                padding: .4rem 1rem;
                background-color: rgb(238, 247, 255);
                border-bottom: 2px solid rgba(255, 255, 255, 0);
                transition: all .1s ease-in-out;
                &:focus{
                    border-bottom: 2px solid blue;
                }
            }
        }
    }

    width: 100%;
    /** ——————————————————— Table ——————————————————— */

    // #TODO Adjust something

    #myTable{
        margin: 2rem 0;
        width: 100%;
        outline: 1px solid #ddd;
        border-radius: 4px;
        font-size: var(--font-h6); 
        thead{
            >tr{
                padding-left: 2rem;
                >th{
                    width: auto;
                    padding: 1.4rem 0;
                    padding-left: 1.4rem;
                    cursor: pointer;
                    &[data-header="Checkbox"]{
                        cursor: auto;
                        width: 1%;
                        display: flex;
                        column-gap: 1.2rem;
                        .checkbox{
                            display: block;
                        }
                    }
                    &:not(:last-child):hover{
                        background-color: #efefef;
                    }
                    &:not(:last-child):active{
                        background-color: #dfdfdf;
                    }
                }
            }
        }
        tbody{
            >tr.product-card{
                padding-left: 2rem;
                cursor: pointer;
                transition: all .12s ease-in-out;
                &.odd{
                    background-color: #abcabc35;
                }
                &.even{
                    background-color: #defdef35;
                }
                &:hover{
                    background-color: #eee;
                    >td{
                        color: orangered;
                    }
                }
                >td{
                    padding: .9rem 0;
                    padding-left: 1.4rem;
                    &[data-column="Index"]{
                        width: 2.5%;
                    }
                    &[data-column="Quantity"]{
                        display: flex;
                        flex-direction: row;
                        column-gap: .2rem;
                        justify-content: flex-start;
                        align-items: center;
                        .quantity-button{
                            padding: .4rem .8rem;
                            font-size: var(--font-smaller);
                            border: none;
                            outline: none;
                            background-color: #04BF68;
                            &.remove{
                                
                            }
                            &.add{

                            }
                        }
                        .display-quantity{
                            padding: 0 2rem;
                            width: auto;
                            text-align: center;
                            font-size: var(--font-small);
                        }
                    }
                    &[data-column="Checkbox"]{
                        input[type="checkbox"]{
                            display: block;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    /** ——— Showing {a} to {b} of {total} entries ——— */
    #myTable_info{
        
    }

    /** —————————————————— Paginate ————————————————— */
    #myTable_paginate{

    }
}

.dataTables_empty{
    border-top: 1px solid #00000022;
    background-color: #00000011;
    padding: .4rem 1rem;
    &:hover{
        background-color: #a1231211;
    }
}

/* ——————————————————————————————————————— Model ————————————————————————————————————————————— */

.model-background{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    .model{
        width: 40%;
        height: auto;
        padding: 2rem 2rem 3rem;
        border-radius: 6px;
        background-color: white;
        position: relative;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        .model-header{
            font-size: var(--font-h4);
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin-bottom: 0;
            }
            i{
                cursor: pointer;
            }
        }
        .model-body{
            padding-top: 2rem;
            font-size: var(--font-h6);

            /* —————— Cart display ——————*/
            .cart-display{

                /* ———— Units ———— */
                >.cart{
                    width: 100%;
                    display: flex;
                    padding: .1rem 2rem 2rem;
                    justify-content: space-between;
                    column-gap: 10rem;
                    align-items: center;
                    &:not(:first-child){
                        padding: 2rem
                    }
                    &:not(:last-child){
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                    >.cart{
                        &-info{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            font-weight: bold;
                            $margin-bottom: 0;
                            .product-name{
                                font-size: var(--font-h6);
                                margin-bottom: $margin-bottom;
                            }
                            .product-brand{
                                font-size: var(--font-small);
                                color: grey;
                                margin-bottom: $margin-bottom;
                            }
                        }
                        &-quantity{
                            margin-right: 12rem;
                                p{
                                margin-bottom: 0;
                            }
                        }
                        &-action{
                            button.edit-button{
                                color: white;
                                background-color: #216BFD;
                                font-size: var(--font-small);
                                padding: 1rem 1.6rem;
                                border-radius: 2px;
                                border: none;
                                outline: none;
                                &:hover{
                                    background-color: #1a5bdc;
                                }
                            }
                        }
                    }
                }
            }
        }
        .model-footer{

        }
    }
}

/* ==================== RWD Design ==================== */

/* ——————————————————————————————————————— Data Tables ————————————————————————————————————————————— */

#myTable_wrapper{
    $label-font-size: var(--font-h6);
    width: 100%;
    padding: 0;
    /** ——————————————————— Table ——————————————————— */
    // #TODO Adjust something
    #myTable{
        padding: 0;
        font-size: var(--font-small); 
        thead{
            >tr{
                padding-left: 0;
                >th{

                }
            }
        }
    
    }

    input[type="checkbox"]{
        width: 30px;
    }
}