
/* —————————————————————— Layouts —————————————————————— */

.main{
    display: flex;
    flex-direction: column;
    background-color: #fffffc;
    .content{
        width: 100%;
        padding: 2rem 3rem;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 1px 1px 25px .2px rgba(0, 0, 0, 0.2);
    }
}

.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .page-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #010D4D;
        column-gap: 1.2rem;
        i{
            padding-top: .4rem;
            font-size: var(--font-h6);
        }
        p{
            margin-bottom: 0;
            font-size: var(--font-h3);
        }
    }
}

/* —————————————————————— Order  —————————————————————— */

.order{
    >.order{

        &-header{
            
        }

        &-body{
            display: flex;
            flex-direction: column;
            row-gap: 1.6rem;
        }

        &-footer{
            
        }
    }

}

/* —————————————————————— Order-Card —————————————————————— */

.order-card{
    >.order-card{
        &-header{
            
        }
        &-body{
            
        }
        &-footer{
            
        }
    }
}

/* —————————————————————— Card —————————————————————— */

.card{
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transition:  all .12s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px 3px rgba(0, 1, 83, 0.2);
    }
    >.card{
        &-header{
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >p{
                margin: 0;
            }
            >.order-id{
                font-size: var(--font-h6);
            }
            >.update-time{
                font-size: var(--font-small);
                b{
                    margin-right: 1rem;
                }
            }
        }
        &-body{
            display: flex;
            padding: 1rem 2rem;
            font-size: var(--font-h6);
            p{
                font-weight: bold;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1.2rem;
                margin-bottom: 0;
            }
            .card-information{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                padding: 0;
            }
            & > p::before{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 100%;
                display: block;
            }
            &[data-status="Received"] > p::before{
                background-color: red;
            }
            &[data-status="In Proccess"] > p::before{
                background-color: yellow;
            }
            &[data-status="Success"] > p::before{
                background-color: green;
            }
        }
        &-footer{
            
        }
    }
}

/* ———————————————————— Modal ———————————————————— */
.model-background{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    &.show{
        display: block;
        > .model{
            animation-name: fade-in;
            animation-duration: .2s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
        }
    }
    .model{
        width: 40%;
        height: auto;
        border-radius: 6px;
        background-color: white;
        position: relative;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        .model-header{
            font-size: var(--font-h4);
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 2rem 1rem;
            p{
                margin-bottom: 0;
                span{
                    color: rgb(0, 157, 255);
                    font-weight: bold;
                    &::before{
                        content: '#';
                    }
                }
            }
            i{
                cursor: pointer;
            }
        }

        .model-body{
            padding: .8rem 2rem .4rem;
        }

        .model-footer{
            background-color: rgb(244, 244, 244);
            border-radius: 0 0 6px 6px;
            border-top: 2px solid rgb(240, 240, 240);
            padding: 1rem 2rem;
            font-size: var(--font-h6);
            div{
                
            }
        }
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
        top: -20%;
    };
    100%{
        opacity: 1;
        top: 4rem;
    }
}

/* ———————————————————— Order Item ———————————————————— */

.order-item-display{
    $font-size: var(--font-small);
    // Units
    >.order{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:not(:first-child){
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        >.item-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            align-items: flex-start;
            row-gap: .4rem;
            padding: .6rem 2rem .6rem 0;
            >.item{
                &-id{
                    font-size: $font-size;
                }
                &-brand{
                    font-size: $font-size;
                }
            }
        }
        >.item-quantity{
            flex: 1;
            >p{
                text-align: right;
                font-size: calc($font-size + .4rem);
            }
        }
    }
}

p{margin-bottom: 0;}

/* ———————————————————— Table ———————————————————— */
.table{
    >.table-header{
        
    }
    >.table-body{

    }
    >.table-footer{
        
    }
}

/* ———————————————————— Category ———————————————————— */

.order-category{
    padding-top: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    a.order-status{
        cursor: pointer;
        box-sizing: border-box;
        font-size: var(--font-small);
        text-align: center;
        padding: 1.2rem 2rem;
        min-width: auto;
        max-width: auto;
        border-bottom: 3px solid #ffffff00 !important;
        transition: all .1s ease-in-out;
        &.active{
            border-bottom: 3px solid #001dbf !important;
            color: #0a58ca;
            font-weight: bold;
        }
        &:hover{
            background-color: #001dbf10;
        }
    }
}

/* ———————————————————— Display List ———————————————————— */

.order-header{
    font-size: var(--font-small);
    padding: .6rem 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    p{
        &:first-child{
            width: 15%;
        }
        &:nth-child(2){
            width: 15%;
        }
    }
}

.order-list{
    font-size: var(--font-small);
    margin-top: 1.2rem;
    p{
        &:first-child{
            width: 15%;
        }
        &:nth-child(2){
            width: 15%;
        }
    }

    /* Units of Order */
    a.order{
        cursor: pointer;
        color: inherit;
        padding: 1.6rem 2.2rem;
        &.odd{
            background-color: rgba(0, 0, 0, 0.03);
        }
        &.even{
            background-color: rgba(0, 0, 0, 0.07);
        }
        &:hover{
            background-color: #dfdfdf;
        }
    }

    .no-data{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        >p{
            width: 100%;
            text-align: center;
            font-size: var(--font-h6);
        }
    }
}

/* —————— General —————— */
.display-row{
    display: flex;
}
.display-column{
    display: flex;
    flex-direction: column;
}