
.main{
    $left: 17vw;
    margin-left: $left;
    padding: 3rem;
    width: calc(100vw - $left);
}

@media only screen and (max-width: 970px) {
    .main{
        margin-top: 6rem;
        margin-left: 0;
        width: 100vw;
    }
    
}