@charset "UTF-8";
/* ——————————————————————————————————————— Layout ————————————————————————————————————————————— */
.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart-container .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.cart-container .cart-header .page-title {
  font-size: var(--font-h2);
}
.cart-container .cart-header .button-create-order {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: green;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  padding: 0.4rem;
}
.cart-container .cart-header .button-create-order:hover {
  background-color: rgb(0, 109, 0);
}
.cart-container .cart-header .button-create-order .center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small);
}
.cart-container .cart-header .button-create-order .center i {
  padding-left: 1rem;
}
.cart-container .cart-header .button-create-order .center p {
  padding: 0.9rem 2rem 0.9rem 1rem;
  margin: 0;
}
.cart-container .cart-body .cards-container {
  display: flex;
  flex-direction: column;
}
.cart-container .cart-body .cards-container .cards-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 4rem;
  flex-wrap: wrap;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  row-gap: 3vw;
}
.cart-container .cart-body .cards-container .cards-body input[type=checkbox]:checked + label .product-card {
  box-shadow: 0.3px 0.3px 5px 0.2px green;
}
.cart-container .cart-body .cards-container .cards-body label {
  min-width: 230px;
  width: 25%;
  max-width: 25%;
}
.cart-container .cart-body .cards-container .cards-body .product-card {
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0.3px 0.3px 5px 0.2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.cart-container .cart-body .cards-container .cards-body .product-card:hover {
  box-shadow: 0.7px 0.7px 10px 0.3px rgba(0, 0, 0, 0.2);
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-header a {
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-header a:hover .product-card-image {
  transform: scale(1.2);
  transform-origin: center center;
  filter: brightness(0.7);
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-header a:hover .hover {
  z-index: 10;
  display: block;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-header a .hover {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px;
  font-size: var(--font-small);
  display: none;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-header a .product-card-image {
  width: 100%;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s ease-in-out, filter 0.24s ease-in;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-body {
  padding: 0.9rem 1.2rem;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-body .product-brand {
  font-size: var(--font-h5);
  color: black;
  font-weight: normal;
  margin: 0;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-body .product-category {
  font-size: var(--font-small);
  color: grey;
  font-weight: normal;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 7.5vw;
  padding: 0.2rem 1rem 1rem 0;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-footer .quantity-button {
  padding: 0.4rem 1.3rem;
  font-size: var(--font-small);
  border: none;
  outline: none;
}
.cart-container .cart-body .cards-container .cards-body .product-card .product-card-footer .display-quantity {
  padding: 0 2rem;
  font-size: var(--font-small);
}
/* ——————————————————————————————————————— Layout (Table) ————————————————————————————————————————————— */
.main {
  display: flex;
  flex-direction: column;
  background-color: #fffffc;
}
.main .content {
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 25px 0.2px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.page-header .page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #010D4D;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.page-header .page-title i {
  padding-top: 0.4rem;
  font-size: var(--font-h6);
}
.page-header .page-title p {
  font-size: var(--font-h3);
  margin-bottom: 0;
}
.page-header .button-create-order {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #04BF68;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: white;
  font-weight: 600;
  padding: 0.2rem;
}
.page-header .button-create-order:hover {
  background-color: #00a759;
}
.page-header .button-create-order .center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small);
}
.page-header .button-create-order .center i {
  padding-left: 1rem;
  padding-right: 1.2rem;
}
.page-header .button-create-order .center p {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1.4rem 0.8rem 1.2rem;
  margin: 0;
}

/* ——————————————————————————————————————— Data Tables ————————————————————————————————————————————— */
#myTable_wrapper {
  /** —————————————— Record Per Page —————————————— */
  /** ——————————————————— Filter —————————————————— */
  width: 100%;
  /** ——————————————————— Table ——————————————————— */
  /** ——— Showing {a} to {b} of {total} entries ——— */
  /** —————————————————— Paginate ————————————————— */
}
#myTable_wrapper #myTable {
  margin: 2rem 0;
  width: 100%;
  outline: 1px solid #ddd;
  border-radius: 4px;
  font-size: var(--font-h6);
}
#myTable_wrapper #myTable thead > tr {
  padding-left: 2rem;
}
#myTable_wrapper #myTable thead > tr > th {
  width: auto;
  padding: 1.4rem 0;
  padding-left: 1.4rem;
}
#myTable_wrapper #myTable thead > tr > th[data-header=Checkbox] {
  width: 1%;
  display: flex;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
#myTable_wrapper #myTable thead > tr > th[data-header=Checkbox] .checkbox {
  display: block;
}
#myTable_wrapper #myTable tbody > tr.product-card {
  padding-left: 2rem;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
}
#myTable_wrapper #myTable tbody > tr.product-card.odd {
  background-color: rgba(171, 202, 188, 0.2078431373);
}
#myTable_wrapper #myTable tbody > tr.product-card.even {
  background-color: rgba(222, 253, 239, 0.2078431373);
}
#myTable_wrapper #myTable tbody > tr.product-card:hover {
  background-color: #eee;
}
#myTable_wrapper #myTable tbody > tr.product-card:hover > td {
  color: orangered;
}
#myTable_wrapper #myTable tbody > tr.product-card > td {
  padding: 0.9rem 0;
  padding-left: 1.4rem;
}
#myTable_wrapper #myTable tbody > tr.product-card > td[data-column=Index] {
  width: 2.5%;
}
#myTable_wrapper #myTable tbody > tr.product-card > td[data-column=Quantity] {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  justify-content: flex-start;
  align-items: center;
}
#myTable_wrapper #myTable tbody > tr.product-card > td[data-column=Quantity] .quantity-button {
  padding: 0.4rem 0.8rem;
  font-size: var(--font-smaller);
  border: none;
  outline: none;
  background-color: #04BF68;
}
#myTable_wrapper #myTable tbody > tr.product-card > td[data-column=Quantity] .display-quantity {
  padding: 0 2rem;
  width: auto;
  text-align: center;
  font-size: var(--font-small);
}
#myTable_wrapper #myTable tbody > tr.product-card > td[data-column=Checkbox] input[type=checkbox] {
  display: block;
  cursor: pointer;
}
/* ——————————————————————————————————————— Model ————————————————————————————————————————————— */
.model-background {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.model-background .model {
  width: 40%;
  height: auto;
  padding: 2rem 2rem 3rem;
  border-radius: 6px;
  background-color: white;
  position: relative;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.model-background .model .model-header {
  font-size: var(--font-h4);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.model-background .model .model-header p {
  margin-bottom: 0;
}
.model-background .model .model-header i {
  cursor: pointer;
}
.model-background .model .model-body {
  padding-top: 2rem;
  font-size: var(--font-h6);
  /* —————— Cart display ——————*/
}
.model-background .model .model-body .cart-display {
  /* ———— Units ———— */
}
.model-background .model .model-body .cart-display > .cart {
  width: 100%;
  display: flex;
  padding: 0.1rem 2rem 2rem;
  justify-content: space-between;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  align-items: center;
}
.model-background .model .model-body .cart-display > .cart:not(:first-child) {
  padding: 2rem;
}
.model-background .model .model-body .cart-display > .cart:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.model-background .model .model-body .cart-display > .cart > .cart-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
}
.model-background .model .model-body .cart-display > .cart > .cart-info .product-name {
  font-size: var(--font-h6);
  margin-bottom: 0;
}
.model-background .model .model-body .cart-display > .cart > .cart-info .product-brand {
  font-size: var(--font-small);
  color: grey;
  margin-bottom: 0;
}
.model-background .model .model-body .cart-display > .cart > .cart-quantity {
  margin-right: 12rem;
}
.model-background .model .model-body .cart-display > .cart > .cart-quantity p {
  margin-bottom: 0;
}
.model-background .model .model-body .cart-display > .cart > .cart-action button.edit-button {
  color: white;
  background-color: #216BFD;
  font-size: var(--font-small);
  padding: 1rem 1.6rem;
  border-radius: 2px;
  border: none;
  outline: none;
}
.model-background .model .model-body .cart-display > .cart > .cart-action button.edit-button:hover {
  background-color: #1a5bdc;
}
