
div.contact-list{
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
    // contact
    div.contact{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 3rem;
        padding: 2rem 4rem;
        div.avatar{
            $size: 220px;
            height: $size;
            width: $size;
            overflow: hidden;
            border-radius: 50%;
            img.avatar-image{
                background: #3e3e3e;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .17s ease-in-out;
                &:hover{
                    transform: scale(1.4);
                    background: #4b4b4b;
                    filter: brightness(0.5);
                }
            }
        }
        div.information{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            p{
                margin-bottom: 0;
            }
            p.name{
                font-size: var(--font-h4);
                font-weight: bold;
                color: #000;
            }
            p.description{
                font-size: var(--font-h6);
                color: #222;
            }
            p.phone-number{
                margin-top: 1.4rem;
                font-size: var(--font-small);
                color: #111;
                i{
                    margin-right: 0.6rem;
                }
            }
        }
    }

}