.website-map {
  width: 100%;
  background-color: #ebebeb;
}
.website-map .footer-title {
  font-size: var(--font-h3);
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 1.4rem;
  display: none;
}
.website-map .footer-section {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.website-map .footer-section .map-section {
  display: flex;
  flex-direction: column;
}
.website-map .footer-section .map-section .map-section-title {
  font-size: var(--font-h4);
  margin-bottom: 1.4rem;
  font-size: bold;
  text-transform: uppercase;
}
.website-map .footer-section .map-section ul.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.2rem;
}
.website-map .footer-section .map-section ul.links a.link {
  display: flex;
  font-size: var(--font-h6);
  justify-content: flex-start;
  align-items: center;
}
.website-map .footer-section .map-section ul.links a.link:hover {
  color: blue;
}
.website-map .footer-section .map-section ul.links li.address {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: var(--font-h6);
}
.website-map .footer-section .map-section ul.links li.address p.company-name {
  font-size: var(--font-h5);
  font-weight: bold;
}
.website-map .footer-section .map-section ul.links li.phone {
  font-size: var(--font-h6);
}
.website-map .copyright {
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #c9c9c9;
  font-size: var(--font-small);
}
.website-map .copyright p {
  margin-bottom: 0;
}
.website-map .copyright .author {
  color: blue;
}
.website-map .copyright .author:hover {
  color: darkblue;
}

i {
  height: auto;
  width: 1vw;
  margin-right: 1.6rem;
}

@media only screen and (max-width: 720px) {
  .website-map .footer-title {
    font-size: var(--font-h3);
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1.4rem;
    display: none;
  }
  .website-map .footer-section {
    flex-direction: column;
    justify-content: center;
  }
  .website-map .footer-section .map-section ul.links {
    display: flex;
    row-gap: 1.2rem;
  }
  .website-map .footer-section .map-section ul.links a.link {
    display: flex;
    font-size: var(--font-h6);
  }
  .website-map .footer-section .map-section ul.links a.link:hover {
    color: blue;
  }
  .website-map .footer-section .map-section ul.links li.address {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: var(--font-h6);
  }
  .website-map .footer-section .map-section ul.links li.address p.company-name {
    font-size: var(--font-h5);
    font-weight: bold;
  }
  .website-map .footer-section .map-section ul.links li.phone {
    margin-bottom: 1rem;
  }
  .website-map .copyright {
    flex-direction: column;
    row-gap: 0.9rem;
    justify-content: center;
  }
  i {
    margin-right: 2.4rem;
  }
}
