.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  min-width: 17vw;
  max-width: 17vw;
  padding: 1rem;
  background-color: rgb(245, 250, 255);
}
.sidebar > .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar > .sidebar-header img.logo {
  min-width: 10vw;
  width: 10vw;
  max-width: 10vw;
}
.sidebar .sidebar-body {
  padding: 2rem 0;
}
.sidebar .sidebar-body > ul.sidebar-links .section {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 2rem;
  font-size: var(--font-h6);
}
.sidebar .sidebar-body > ul.sidebar-links .section > .section-title {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-body > ul.sidebar-links .section .section-links {
  padding: 1.3rem 0.7rem 0;
}
.sidebar .sidebar-body > ul.sidebar-links .section .section-links .sidebar-link {
  padding: 1.2rem 0 1.2rem 4rem;
}
.sidebar .sidebar-body > ul.sidebar-links .sidebar-link {
  padding: 1.2rem 2rem;
  font-size: var(--font-h6);
  display: flex;
  align-items: center;
  width: 100%;
}
.sidebar .sidebar-body > ul.sidebar-links .sidebar-link .notification-order {
  margin-left: 1rem;
  background-color: rgb(213, 0, 0);
  color: whitesmoke;
  border-radius: 2px;
  height: 80%;
  width: 2vw;
  text-align: center;
  font-size: var(--font-small);
}
.sidebar .sidebar-body > ul.sidebar-links i.link-icon {
  margin-right: 2rem;
}
.sidebar .sidebar-body > ul.sidebar-links p {
  margin-bottom: 0;
}
.sidebar .sidebar-footer .clock {
  text-align: center;
  font-size: var(--font-h6);
  color: rgb(159, 159, 159);
}

@media only screen and (max-width: 790px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    min-width: 100vw;
    height: 6vh;
    top: 0;
    padding: 2rem 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6666666667);
  }
  .sidebar > .sidebar-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar > .sidebar-header img.logo {
    min-width: 10vw;
    width: 10vw;
    max-width: 10vw;
  }
  .sidebar .sidebar-body {
    padding: 2rem 0;
  }
  .sidebar .sidebar-body > ul.sidebar-links .section {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
    font-size: var(--font-h6);
  }
  .sidebar .sidebar-body > ul.sidebar-links .section > .section-title {
    display: flex;
    align-items: center;
  }
  .sidebar .sidebar-body > ul.sidebar-links .section .section-links {
    padding: 1.3rem 0.7rem 0;
  }
  .sidebar .sidebar-body > ul.sidebar-links .section .section-links .sidebar-link {
    padding: 1.2rem 0 1.2rem 4rem;
  }
  .sidebar .sidebar-body > ul.sidebar-links .sidebar-link {
    padding: 1.2rem 2rem;
    font-size: var(--font-h6);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: white;
  }
  .sidebar .sidebar-body > ul.sidebar-links .sidebar-link .notification-order {
    margin-left: 1rem;
    background-color: rgb(213, 0, 0);
    color: whitesmoke;
    border-radius: 2px;
    height: 80%;
    width: 2vw;
    text-align: center;
    font-size: var(--font-small);
  }
  .sidebar .sidebar-body > ul.sidebar-links i.link-icon {
    margin-right: 2rem;
  }
  .sidebar .sidebar-body > ul.sidebar-links p {
    margin-bottom: 0;
  }
}
